<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - backend</title>
    <link rel="stylesheet" href="~/dist/index.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
    <header class="px-4 md:px-8 py-8">
        <nav aria-label="nav" class="w-full">
            <ul class="flex flex-row gap-4 items-center text-xl">
                <li><a class="text-gray-800 hover:text-gray-600 hover:underline" href="/">Home</a></li>
                <li><a class="text-gray-800 hover:text-gray-600 hover:underline" href="/Home/Catalogue">Catalogue</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main" class="px-4 md:px-8 py-8 min-h-[90vh]">
        @RenderBody()
    </main>
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - backend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
